uchome/Web References/qingdao/OrganizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentDto" type="tns:DepartmentDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentDto">
        <s:complexContent mixed="false">
          <s:extension base="tns:SingleDepartment">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Tags" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SingleDepartment">
        <s:complexContent mixed="false">
          <s:extension base="tns:WefAggregateRoot">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ParentId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLeaf" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WefAggregateRoot">
        <s:complexContent mixed="false">
          <s:extension base="tns:WefBaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WefBaseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDepartmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentDto" type="tns:DepartmentDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDepartmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveDepartmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentResult" type="tns:DepartmentDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentByNameResult" type="tns:DepartmentDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDescendantDepartmentsByTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDescendantDepartmentsByTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDescendantDepartmentsByTagResult" type="tns:ArrayOfDepartmentDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDepartmentDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepartmentDto" nillable="true" type="tns:DepartmentDto" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupDto" type="tns:GroupDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GroupDto">
        <s:complexContent mixed="false">
          <s:extension base="tns:WefAggregateRoot">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Tags" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfSingleRole" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSingleRole">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SingleRole" nillable="true" type="tns:SingleRole" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SingleRole">
        <s:complexContent mixed="false">
          <s:extension base="tns:WefAggregateRoot">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Priority" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AddGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupDto" type="tns:GroupDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupResult" type="tns:GroupDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userDto" type="tns:UserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserDto">
        <s:complexContent mixed="false">
          <s:extension base="tns:WefAggregateRoot">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MainDepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NameSpell" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PortraitUri" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PositionLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Departments" type="tns:ArrayOfDepartmentWithRoles" />
              <s:element minOccurs="0" maxOccurs="1" name="Groups" type="tns:ArrayOfGroupDto" />
              <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfRoleWithRoleTree" />
              <s:element minOccurs="0" maxOccurs="1" name="Accounts" type="tns:ArrayOfAccountDto" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDepartmentWithRoles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DepartmentWithRoles" nillable="true" type="tns:DepartmentWithRoles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DepartmentWithRoles">
        <s:complexContent mixed="false">
          <s:extension base="tns:DepartmentDto">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfRoleWithRoleTree" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfRoleWithRoleTree">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoleWithRoleTree" nillable="true" type="tns:RoleWithRoleTree" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoleWithRoleTree">
        <s:complexContent mixed="false">
          <s:extension base="tns:SingleRole">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="IncludeTree" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SuperTree" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Permissions" type="tns:ArrayOfSinglePermission" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSinglePermission">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SinglePermission" nillable="true" type="tns:SinglePermission" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SinglePermission">
        <s:complexContent mixed="false">
          <s:extension base="tns:WefAggregateRoot">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ApplicationId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OperationId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ResourceId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfGroupDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupDto" nillable="true" type="tns:GroupDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccountDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountDto" nillable="true" type="tns:AccountDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountDto">
        <s:complexContent mixed="false">
          <s:extension base="tns:WefAggregateRoot">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDisabled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Ticket" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastOnlineIP" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LastOnlineTime" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="tns:UserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userDtos" type="tns:ArrayOfUserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUsersResult" type="tns:ArrayOfUserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountDto" type="tns:AccountDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAccountResult" type="tns:AccountDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountDtos" type="tns:ArrayOfAccountDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAccountsResult" type="tns:ArrayOfAccountDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registerModel" type="tns:RegisterModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegisterModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:WefAggregateRoot">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NameSpell" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PortraitUri" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PositionLevel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDisabled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="MainDepartmentId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsWsafUser" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="RegisterUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterUserResult" type="tns:RegisterModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registerModels" type="tns:ArrayOfRegisterModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRegisterModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegisterModel" nillable="true" type="tns:RegisterModel" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterUsersResult" type="tns:ArrayOfRegisterModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userDto" type="tns:UserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DisableUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnableUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:UserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByNameResult" type="tns:UserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByAccountResult" type="tns:UserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersByDepartmentResult" type="tns:ArrayOfUserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersByGroupResult" type="tns:ArrayOfUserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGroupToSuperGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="includeGroupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="superGroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGroupToSuperGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddGroupToSuperGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveGroupToSuperGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="includeGroupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="superGroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveGroupToSuperGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveGroupToSuperGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserToGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserToGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveUserToGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToDeparment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToDeparmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserToDeparmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserToDeparment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserToDeparmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveUserToDeparmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentsByTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tagName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentsByTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsByTagResult" type="tns:ArrayOfDepartmentDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentsByUserAndTag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tagName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentsByUserAndTagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentsByUserAndTagResult" type="tns:ArrayOfDepartmentDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserIsBelongToDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserIsBelongToDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUserIsBelongToDepartmentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateAccountResult" type="tns:ValidateAccountResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ValidateAccountResult">
        <s:restriction base="s:string">
          <s:enumeration value="Pass" />
          <s:enumeration value="AccountIsExisted" />
          <s:enumeration value="AccountIsInvalid" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdByCookie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cookieName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdByCookieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserIdByCookieResult" type="tns:TicketDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TicketDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CookiePath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiration" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Expired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPersistent" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IssueDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:AddDepartment" />
  </wsdl:message>
  <wsdl:message name="AddDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:AddDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDepartment" />
  </wsdl:message>
  <wsdl:message name="UpdateDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveDepartment" />
  </wsdl:message>
  <wsdl:message name="RemoveDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartment" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartmentByName" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetDescendantDepartmentsByTagSoapIn">
    <wsdl:part name="parameters" element="tns:GetDescendantDepartmentsByTag" />
  </wsdl:message>
  <wsdl:message name="GetDescendantDepartmentsByTagSoapOut">
    <wsdl:part name="parameters" element="tns:GetDescendantDepartmentsByTagResponse" />
  </wsdl:message>
  <wsdl:message name="AddGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="AddGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGroupSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGroup" />
  </wsdl:message>
  <wsdl:message name="UpdateGroupSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveGroup" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroup" />
  </wsdl:message>
  <wsdl:message name="GetGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUsersSoapIn">
    <wsdl:part name="parameters" element="tns:AddUsers" />
  </wsdl:message>
  <wsdl:message name="AddUsersSoapOut">
    <wsdl:part name="parameters" element="tns:AddUsersResponse" />
  </wsdl:message>
  <wsdl:message name="AddAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="AddAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="AddAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:AddAccounts" />
  </wsdl:message>
  <wsdl:message name="AddAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:AddAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="RegisterUserSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterUsersSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterUsers" />
  </wsdl:message>
  <wsdl:message name="RegisterUsersSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterUsersResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="RemoveUserSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="DisableUserSoapIn">
    <wsdl:part name="parameters" element="tns:DisableUser" />
  </wsdl:message>
  <wsdl:message name="DisableUserSoapOut">
    <wsdl:part name="parameters" element="tns:DisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="EnableUserSoapIn">
    <wsdl:part name="parameters" element="tns:EnableUser" />
  </wsdl:message>
  <wsdl:message name="EnableUserSoapOut">
    <wsdl:part name="parameters" element="tns:EnableUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="GetUserByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByAccount" />
  </wsdl:message>
  <wsdl:message name="GetUserByAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersByDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersByDepartment" />
  </wsdl:message>
  <wsdl:message name="GetUsersByDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersByDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersByGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersByGroup" />
  </wsdl:message>
  <wsdl:message name="GetUsersByGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddGroupToSuperGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddGroupToSuperGroup" />
  </wsdl:message>
  <wsdl:message name="AddGroupToSuperGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddGroupToSuperGroupResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupToSuperGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveGroupToSuperGroup" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupToSuperGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveGroupToSuperGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToGroup" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUserToGroup" />
  </wsdl:message>
  <wsdl:message name="RemoveUserToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserToDeparmentSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToDeparment" />
  </wsdl:message>
  <wsdl:message name="AddUserToDeparmentSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToDeparmentResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserToDeparmentSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUserToDeparment" />
  </wsdl:message>
  <wsdl:message name="RemoveUserToDeparmentSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserToDeparmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsByTagSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartmentsByTag" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsByTagSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsByTagResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsByUserAndTagSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartmentsByUserAndTag" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentsByUserAndTagSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentsByUserAndTagResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserIsBelongToDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserIsBelongToDepartment" />
  </wsdl:message>
  <wsdl:message name="CheckUserIsBelongToDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserIsBelongToDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateAccount" />
  </wsdl:message>
  <wsdl:message name="ValidateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIdByCookieSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserIdByCookie" />
  </wsdl:message>
  <wsdl:message name="GetUserIdByCookieSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIdByCookieResponse" />
  </wsdl:message>
  <wsdl:portType name="OrganizationServiceSoap">
    <wsdl:operation name="AddDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加部门</wsdl:documentation>
      <wsdl:input message="tns:AddDepartmentSoapIn" />
      <wsdl:output message="tns:AddDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新部门</wsdl:documentation>
      <wsdl:input message="tns:UpdateDepartmentSoapIn" />
      <wsdl:output message="tns:UpdateDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">移除部门</wsdl:documentation>
      <wsdl:input message="tns:RemoveDepartmentSoapIn" />
      <wsdl:output message="tns:RemoveDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取部门</wsdl:documentation>
      <wsdl:input message="tns:GetDepartmentSoapIn" />
      <wsdl:output message="tns:GetDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据名称（代码）获取部门</wsdl:documentation>
      <wsdl:input message="tns:GetDepartmentByNameSoapIn" />
      <wsdl:output message="tns:GetDepartmentByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDescendantDepartmentsByTag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取子部门中所有具有Tag的部门（递归）</wsdl:documentation>
      <wsdl:input message="tns:GetDescendantDepartmentsByTagSoapIn" />
      <wsdl:output message="tns:GetDescendantDepartmentsByTagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加用户组</wsdl:documentation>
      <wsdl:input message="tns:AddGroupSoapIn" />
      <wsdl:output message="tns:AddGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新用户组</wsdl:documentation>
      <wsdl:input message="tns:UpdateGroupSoapIn" />
      <wsdl:output message="tns:UpdateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">移除用户组</wsdl:documentation>
      <wsdl:input message="tns:RemoveGroupSoapIn" />
      <wsdl:output message="tns:RemoveGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户组</wsdl:documentation>
      <wsdl:input message="tns:GetGroupSoapIn" />
      <wsdl:output message="tns:GetGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加用户</wsdl:documentation>
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">批量添加用户</wsdl:documentation>
      <wsdl:input message="tns:AddUsersSoapIn" />
      <wsdl:output message="tns:AddUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">添加账户</wsdl:documentation>
      <wsdl:input message="tns:AddAccountSoapIn" />
      <wsdl:output message="tns:AddAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAccounts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">批量添加账户</wsdl:documentation>
      <wsdl:input message="tns:AddAccountsSoapIn" />
      <wsdl:output message="tns:AddAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">注册用户</wsdl:documentation>
      <wsdl:input message="tns:RegisterUserSoapIn" />
      <wsdl:output message="tns:RegisterUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">批量注册用户</wsdl:documentation>
      <wsdl:input message="tns:RegisterUsersSoapIn" />
      <wsdl:output message="tns:RegisterUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新用户</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">移除用户</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserSoapIn" />
      <wsdl:output message="tns:RemoveUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">禁用用户</wsdl:documentation>
      <wsdl:input message="tns:DisableUserSoapIn" />
      <wsdl:output message="tns:DisableUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">启用用户</wsdl:documentation>
      <wsdl:input message="tns:EnableUserSoapIn" />
      <wsdl:output message="tns:EnableUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户</wsdl:documentation>
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户</wsdl:documentation>
      <wsdl:input message="tns:GetUserByNameSoapIn" />
      <wsdl:output message="tns:GetUserByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据账户名获取用户</wsdl:documentation>
      <wsdl:input message="tns:GetUserByAccountSoapIn" />
      <wsdl:output message="tns:GetUserByAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByDepartment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取部门中的用户</wsdl:documentation>
      <wsdl:input message="tns:GetUsersByDepartmentSoapIn" />
      <wsdl:output message="tns:GetUsersByDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户组中的用户</wsdl:documentation>
      <wsdl:input message="tns:GetUsersByGroupSoapIn" />
      <wsdl:output message="tns:GetUsersByGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGroupToSuperGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将组添加到另一个组中</wsdl:documentation>
      <wsdl:input message="tns:AddGroupToSuperGroupSoapIn" />
      <wsdl:output message="tns:AddGroupToSuperGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupToSuperGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将组从另一个组中移除</wsdl:documentation>
      <wsdl:input message="tns:RemoveGroupToSuperGroupSoapIn" />
      <wsdl:output message="tns:RemoveGroupToSuperGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">向用户组中添加用户</wsdl:documentation>
      <wsdl:input message="tns:AddUserToGroupSoapIn" />
      <wsdl:output message="tns:AddUserToGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserToGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">从用户组中移除用户</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserToGroupSoapIn" />
      <wsdl:output message="tns:RemoveUserToGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToDeparment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">向部门中添加用户</wsdl:documentation>
      <wsdl:input message="tns:AddUserToDeparmentSoapIn" />
      <wsdl:output message="tns:AddUserToDeparmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserToDeparment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">从部门中移除用户</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserToDeparmentSoapIn" />
      <wsdl:output message="tns:RemoveUserToDeparmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsByTag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据Tag获取部门</wsdl:documentation>
      <wsdl:input message="tns:GetDepartmentsByTagSoapIn" />
      <wsdl:output message="tns:GetDepartmentsByTagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsByUserAndTag">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据Tag获取用户所在部门（递归）</wsdl:documentation>
      <wsdl:input message="tns:GetDepartmentsByUserAndTagSoapIn" />
      <wsdl:output message="tns:GetDepartmentsByUserAndTagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserIsBelongToDepartment">
      <wsdl:input message="tns:CheckUserIsBelongToDepartmentSoapIn" />
      <wsdl:output message="tns:CheckUserIsBelongToDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">账户检查</wsdl:documentation>
      <wsdl:input message="tns:ValidateAccountSoapIn" />
      <wsdl:output message="tns:ValidateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改密码</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByCookie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据cookie获取id</wsdl:documentation>
      <wsdl:input message="tns:GetUserIdByCookieSoapIn" />
      <wsdl:output message="tns:GetUserIdByCookieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrganizationServiceSoap" type="tns:OrganizationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDepartment">
      <soap:operation soapAction="http://tempuri.org/AddDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <soap:operation soapAction="http://tempuri.org/UpdateDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDepartment">
      <soap:operation soapAction="http://tempuri.org/RemoveDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <soap:operation soapAction="http://tempuri.org/GetDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByName">
      <soap:operation soapAction="http://tempuri.org/GetDepartmentByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescendantDepartmentsByTag">
      <soap:operation soapAction="http://tempuri.org/GetDescendantDepartmentsByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap:operation soapAction="http://tempuri.org/AddGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap:operation soapAction="http://tempuri.org/UpdateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <soap:operation soapAction="http://tempuri.org/RemoveGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap:operation soapAction="http://tempuri.org/GetGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap:operation soapAction="http://tempuri.org/AddUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccounts">
      <soap:operation soapAction="http://tempuri.org/AddAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUsers">
      <soap:operation soapAction="http://tempuri.org/RegisterUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap:operation soapAction="http://tempuri.org/DisableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <soap:operation soapAction="http://tempuri.org/EnableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://tempuri.org/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccount">
      <soap:operation soapAction="http://tempuri.org/GetUserByAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByDepartment">
      <soap:operation soapAction="http://tempuri.org/GetUsersByDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByGroup">
      <soap:operation soapAction="http://tempuri.org/GetUsersByGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroupToSuperGroup">
      <soap:operation soapAction="http://tempuri.org/AddGroupToSuperGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupToSuperGroup">
      <soap:operation soapAction="http://tempuri.org/RemoveGroupToSuperGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <soap:operation soapAction="http://tempuri.org/AddUserToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserToGroup">
      <soap:operation soapAction="http://tempuri.org/RemoveUserToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToDeparment">
      <soap:operation soapAction="http://tempuri.org/AddUserToDeparment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserToDeparment">
      <soap:operation soapAction="http://tempuri.org/RemoveUserToDeparment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsByTag">
      <soap:operation soapAction="http://tempuri.org/GetDepartmentsByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsByUserAndTag">
      <soap:operation soapAction="http://tempuri.org/GetDepartmentsByUserAndTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserIsBelongToDepartment">
      <soap:operation soapAction="http://tempuri.org/CheckUserIsBelongToDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAccount">
      <soap:operation soapAction="http://tempuri.org/ValidateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByCookie">
      <soap:operation soapAction="http://tempuri.org/GetUserIdByCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrganizationServiceSoap12" type="tns:OrganizationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDepartment">
      <soap12:operation soapAction="http://tempuri.org/AddDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <soap12:operation soapAction="http://tempuri.org/UpdateDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDepartment">
      <soap12:operation soapAction="http://tempuri.org/RemoveDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartment">
      <soap12:operation soapAction="http://tempuri.org/GetDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByName">
      <soap12:operation soapAction="http://tempuri.org/GetDepartmentByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDescendantDepartmentsByTag">
      <soap12:operation soapAction="http://tempuri.org/GetDescendantDepartmentsByTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap12:operation soapAction="http://tempuri.org/AddGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap12:operation soapAction="http://tempuri.org/UpdateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <soap12:operation soapAction="http://tempuri.org/RemoveGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap12:operation soapAction="http://tempuri.org/GetGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap12:operation soapAction="http://tempuri.org/AddUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccounts">
      <soap12:operation soapAction="http://tempuri.org/AddAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://tempuri.org/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUsers">
      <soap12:operation soapAction="http://tempuri.org/RegisterUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap12:operation soapAction="http://tempuri.org/RemoveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap12:operation soapAction="http://tempuri.org/DisableUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <soap12:operation soapAction="http://tempuri.org/EnableUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap12:operation soapAction="http://tempuri.org/GetUserByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccount">
      <soap12:operation soapAction="http://tempuri.org/GetUserByAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByDepartment">
      <soap12:operation soapAction="http://tempuri.org/GetUsersByDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByGroup">
      <soap12:operation soapAction="http://tempuri.org/GetUsersByGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroupToSuperGroup">
      <soap12:operation soapAction="http://tempuri.org/AddGroupToSuperGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupToSuperGroup">
      <soap12:operation soapAction="http://tempuri.org/RemoveGroupToSuperGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <soap12:operation soapAction="http://tempuri.org/AddUserToGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserToGroup">
      <soap12:operation soapAction="http://tempuri.org/RemoveUserToGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToDeparment">
      <soap12:operation soapAction="http://tempuri.org/AddUserToDeparment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserToDeparment">
      <soap12:operation soapAction="http://tempuri.org/RemoveUserToDeparment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsByTag">
      <soap12:operation soapAction="http://tempuri.org/GetDepartmentsByTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentsByUserAndTag">
      <soap12:operation soapAction="http://tempuri.org/GetDepartmentsByUserAndTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserIsBelongToDepartment">
      <soap12:operation soapAction="http://tempuri.org/CheckUserIsBelongToDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAccount">
      <soap12:operation soapAction="http://tempuri.org/ValidateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByCookie">
      <soap12:operation soapAction="http://tempuri.org/GetUserIdByCookie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganizationService">
    <wsdl:port name="OrganizationServiceSoap" binding="tns:OrganizationServiceSoap">
      <soap:address location="http://qingdao.istudy.sh.cn/SEP.Wef/WebServices/OrganizationService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrganizationServiceSoap12" binding="tns:OrganizationServiceSoap12">
      <soap12:address location="http://qingdao.istudy.sh.cn/SEP.Wef/WebServices/OrganizationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>